
.spot-index-bg {
    /* width: 100vw;
    height: 100vh; */
    background-color: white;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    /* align-items: center; */
}


.discover-filters {
    display: flex;
    width: 100vw;
    padding: 10px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    overflow: hidden;
    padding: 20px;
}

.under-filters {
    display: flex;  
    width: 100%;
    flex-grow: inherit;    
    /* align-items: center; */
}

.spot-list{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    width: 712px;
    height: 7864px;
    /* border: 22px red solid; */
    align-items: center;
    overflow-y: auto;
}

.map {
    width: 50%;
    height: 100%;
    border: 5px red solid;
}

.spot-list-item {
    display: flex;
    width: 25%;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 40px;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: transparent;
    overflow: hidden;
    /* border: 3px blue solid; */ 
    font-family: inherit;
    

}


.spot-carousel, .picz {
    height: 190px;
    width: 288px;
    overflow: hidden;
    margin: 0;
    border-radius: 20px;
    min-width: 100%;
    text-align: center;
    box-sizing: border-box;

}   

#spot-title {
    font-family: Calibre, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-overflow: ellipsis;
    margin-left: 22px;
    
    
}

.info-field {
    box-sizing: border-box;
    margin-left: 22px;
}

.line-1, .line-2, .price-from {
    font-family: Calibre, Helvetica, Arial, sans-serif;
    font-size: 18px;
    opacity: 0.6;
    display: flex;
}

.price {
    display:flex;
    justify-content: left;
    align-items: baseline;
}

.price-num{
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-right: 2px;
    margin-left: 4px;
}

.price-night {
    font-size: 16px;
    opacity: 0.6;

}



    