
.spot-index-bg {
    /* width: 100vw;
    height: 100vh; */
    background-color: white;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    /* align-items: center; */
}


.discover-filters {
    position: relative;
    max-width: 100% !important;
}

.filter-bar {
    display: flex;  
    justify-content: flex-start;
    margin: auto;
    width: 100vw;
    max-width: 100% important!;
    background-color: #FDFDFD;
    padding: 10px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    overflow: hidden;
}

.discover-bar_filter-wrapper {
    margin-right: 10px;
    display: block;
    box-sizing: border-box;
}

.inactiveButtonCamp, .inactiveButtonRv, 
.inactiveButtonLodge, .activeButtonCamp, 
.activeButtonRv, .activeButtonLodge {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    padding: 9px 7px;
    position: relative;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.42;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.inactive-button, .inactiveButtonCamp, 
.inactiveButtonRv, .inactiveButtonLodge {
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 2px;
}

.activeButtonCamp, 
.activeButtonRv, .activeButtonLodge {
    background-color: #f3fbfb;
    color: #40d9ac;
    border: 1px solid #3cc69e;
}

.inactive-button:hover,
.inactiveButtonCamp:hover, 
.inactiveButtonRv:hover, 
.inactiveButtonLodge:hover {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    padding: 9px 7px;
    /* font-size: 1.8rem; */
    background-color: #fff;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.42;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}


.filter-button {
    display: flex;
    width: 100%;
    padding: 9px 7px;
    font-size: 1rem;
    color: inherit;
    background-color: inherit;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    line-height: 1.42;
    margin-right: 1px;
    -webkit-font-smoothing: antialiased;
    font-weight: 320;

}

.input-icon-disc {
    margin-right: 4px;
    font-weight:500;
    color: #696969;
}

.input-icon-disc-active {
    margin-right: 4px;
    font-weight:500;
    color: #40d9ac;
}

.under-filters {
    display: flex;  
    width: 100%;  
    /* align-items: center; */
}

.spot-list{
    margin-top: 70px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    width: 95%;    
    /* border: 22px red solid; */
    align-items: center;
    overflow-y: auto;
}

/* .map { */
    /* height: calc(100vh - 0px),calc(100vh - 0px),calc(100vh - 70px); */
    /* border: 5px red solid; */
    /* width: 742px;
    height: 942px; */
/* }  */

@media screen and (min-width: 1024px) {
    .map-container, .map {
        position: sticky;
        display: flex;
        height: calc(100vh - 70px);
    }
}

@media screen and (min-width: 600px) {
    .map-container, .map {
        position: sticky;
        top: 70px;
        display: flex;
        height: calc(100vh - 177.222px);
    };
};

.spot-list-item {
    display: flex;
    /* width: 45%; */
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 40px;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: transparent;
    overflow: hidden;
    /* border: 3px blue solid; */ 
    font-family: inherit;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .spot-list-item {
        /* flex-basis: 50%; */
    }
}
@media screen and (min-width: 500px) {
    .spot-list-item {
        /* flex-basis: 100%; */
        width: 529px;
        height: 440px;
        flex-basis: auto;
    }
}


.spot-carousel {
    height: 254px;
    width: 480px;
    overflow: hidden;
    margin: 0;
    border-radius: 20px;
    min-width: 100%;
    text-align: center;
    box-sizing: border-box;
}  

    .picz {
    /* height: 100%;
    position: relative;
    width: 100%;
    object-fit: scale-down;
    overflow: hidden; */
    /* margin: 0; */
    border-radius: 20px;
    /* min-width: 100%; */
    text-align: center;
    box-sizing: border-box;
    display: block;
    max-width:480px;
    max-height:254px;
    min-width:480px;
    min-height:254px;
    width: auto;
    height: auto;
}  


#spot-title {
    font-family: Calibre, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-overflow: ellipsis;
    margin-left: 22px;    
}

.info-field {
    box-sizing: border-box;
    margin-left: 22px;
}

.line-1, .line-2, .price-from {
    font-family: Calibre, Helvetica, Arial, sans-serif;
    font-size: 18px;
    opacity: 0.6;
    display: flex;
}

.price {
    display:flex;
    justify-content: left;
    align-items: baseline;
}

.price-num{
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-right: 2px;
    margin-left: 4px;
}

.price-night {
    font-size: 16px;
    opacity: 0.6;

}



    