.review-item-container {
    display: flex;
    width: 610px;
    height: 250px;
    max-width: 616px;
    /* border: 3px solid pink; */
    flex-direction: column;
    text-align: left;
    margin-top: 32px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Calibre, Helvetica, Arial, sans-serif; 
    vertical-align: baseline;
    box-sizing: border-box;
    /* border-top: 1px solid rgb(222, 222, 222);
    border-right-color: rgb(222, 222, 222);
    border-bottom-color: rgb(222, 222, 222);
    border-left-color: rgb(222, 222, 222); */
}

#user-icon-r {
    height:40px;
    width: 40px;
    border: 1px whitesmoke;
}

.review-header {
    display: flex;
    /* width: 100%; */
    /* padding-left: 10px; */
}
.right-of-pic {
    display: flex;
    flex-direction: column;
}
.user-name-wrapper {
    display:flex;
    flex-direction: column;
    /* margin-left: 12px;
    margin-right: 12px; */
}

.row-1 {
    display: flex;
}

.timestamp-wrapper {
    display: flex;
}

.review-spot-title-wrapper,
.review-title-wrapper,
.review-body-wrapper {
    display: flex;
    padding-top: 10px;
}



.user-icon-photo {
    display: flex;
    /* width: 40px; */
    padding-right: 10px;
}
#user-icon {
    display: block;
    font-size: 30px;
    align-self: center;
}

#user-name {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.22px;
    font-weight: 500;
    padding-right: 10px;

}

#user-recommends, #spot-title-for-review {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.22px;
    font-weight: 400;
}

#review-timestamp {
    font-size: 12px;
}

#review-title {
    font-size: 18px;
    font-weight: 500;
}

#review-body {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.22px;
    font-weight: 400;
    padding-right: 10px;
    margin-bottom: 15px;
}

.text-delete {
    margin-top: 5px;
    font-size: 15px;
    background-color: transparent;
    cursor: pointer;
    font-style: italic;
}


